body{
    background-color: rgb(242, 231, 191);
    color: rgb(22, 20, 18);
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    position: relative;
    box-sizing: border-box;
    font-family: 'Vorname', Courier, monospace;
    width: 100%;
    text-align: center;
    margin: 0.5rem;
    padding: 0;
    font-size: 6rem;
}
.choix{
    position: relative;
    box-sizing: border-box;
    width: 90%;
    min-width: 16rem;
    max-width: 40rem;
    border: 2px dotted rgb(187, 11, 11);
    margin: 0.5rem 1rem;
    padding: 0.75rem;
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    font-family: 'Typewriter1', Courier, monospace;
    font-size: 1.1rem;
}
    .choix h2{
        width: 100%;
        font-size: 1.4rem;
        text-align: center;
    }
    .choix__criteres{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        margin: 0.25rem 0;
    }
        .choix__criteres__type{
            position: relative;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
        }
            .choix__criteres__type p{
                position: relative;
                box-sizing: border-box;
                width: 100%;
                margin: 0.5rem 0;
                padding: 0;
            }

            .choix__criteres__type div{
                position: relative;
                box-sizing: border-box;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                margin: 0 5%;

            }
        .choix__criteres__saisie{
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            width: 80%;
            height: 1.5rem;
            padding: 0;
            margin: 0.5rem 0 0.5rem 1rem;
        }
            .choix__criteres__saisie input{
                width: 60%;
                line-height: 1.1rem;
            }
        .choix__criteres__departement{
            position: relative;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
        }
            .choix__criteres__departement p{
                position: relative;
                box-sizing: border-box;
                width: 90%;
                margin: 0.25rem 0;
                padding: 0;
            }
            .choix__criteres__departement select{
                position: relative;
                box-sizing: border-box;
                width: 80%;
                height: 1.8rem;
                margin: 0.25rem 0;
            }
    .choix__ville{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0.5rem 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
        .choix__ville p{
            width: 100%;
            margin: 0.5rem 0;
            padding: 0;
    }
        .choix__ville select{
            position: relative;
            box-sizing: border-box;
            width: 80%;
            height: 1.8rem;
            margin: 0.25rem 0;
        }
    .choix__actions{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0.5rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
        .choix__actions input{
            position: relative;
            box-sizing: border-box;
            width: 33%;
            height: 2.2rem;
            margin: 0 0.5rem;
            padding: 0.2rem;
            font-size: 1.2rem;
        }
.affichage{
    position: relative;
    box-sizing: border-box;
    border: 2px dotted rgb(187, 11, 11);
    margin: 1rem 1rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 95%;
    min-width: 25rem;
    max-width: 86rem;
}
    .affichage__villeA{
        box-sizing: border-box;
        position: relative;
        display: none;
        flex-flow: column nowrap;
        width: 40%;
        padding: 0;
        margin: 0;
        font-size: 1.2rem;

    }
        .affichage__villeA > h2{
            width: 100%;
            text-align: center;
            padding: 0;
            margin: 0; 
            font-size: 1.5rem;
            text-decoration: underline solid 3px black;  
        }
        .affichage__villeA > .champ{
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            padding: 0;
            margin: 0;    
        }
    .affichage__villeB{
        box-sizing: border-box;
        position: relative;
        display: none;
        flex-flow: column nowrap;
        width: 40%;
        padding: 0;
        margin: 0;
        font-size: 1.2rem;
    }
        .affichage__villeB > h2{
            width: 100%;
            text-align: center;
            padding: 0;
            margin: 0;  
            font-size: 1.5rem;
            text-decoration: underline solid 3px black;  
        }
        .affichage__villeB > .champ{
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            padding: 0;
            margin: 0;    
        }
    .affichage__actions{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0.5rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
        .affichage__actions input{
            position: relative;
            box-sizing: border-box;
            width: 45%;
            height: 2.2rem;
            margin: 0 0.5rem;
            padding: 0.2rem;
            font-size: 1.2rem;
        }
.resultats{
    position: relative;
    box-sizing: border-box;
    border: 2px dotted rgb(187, 11, 11);
    margin: 1rem 1rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    width: 95%;
    min-width: 25rem;
    max-width: 80rem;
}
    .resultats h2{
        width: 100%;
        text-align: center;
        font-size: 1.5rem;

    }
    .resultats__trajet{
        display: none;
        flex-flow: row nowrap;
        font-size: 1.2rem;
    }
    .resultats__distance{
        display: none;
        flex-flow: row nowrap;
        font-size: 1.2rem;
    }
    .resultats__azimuth{
        display: none;
        flex-flow: row nowrap;
        font-size: 1.2rem;
    }
